body {
    padding: 10px;
}

.jumbotron, .topPanel, .bg-light, .navbar-light, .navbar, .container, .bgwhite {
    background-color: white;
}

.brand-color {
    color: #333399;
}

.brand-bgcolor {
    background-color: #333399;
}

.nav-links {
    color: #333399;
    padding-top: 0px;
}

/* this is to hide the panel at the start */
#gameoverPanel, #highscorePanel, #nohighscoreLink {
    display: none;
}

/* hide quiz panel and set padding */
#quizPanel {
    display: none;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* this is for the buttons */
.btn-primary {
    margin: .5rem;
    border-color: #333399;
    background-color: #333399;
}

/* this is for the button colours including hover */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #8080ff;
    border-color: #8080ff;
}

.highscorePanel {
    width: 50%;
    align-content: center;
}

/* this is for the highscore item list */
.high-score {
    background-color: #ccccff;
    font-size: 2rem;
    margin: 0.5rem;
    list-style: none;
}

#responseCorrect {
    color: green;
}

#responseWrong {
    color: red;
}